body, html {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, sans-serif;
    color: #888;
    background-color: #ddd;
    font-size: large;
}

body {
    padding-top: 100vh;
    overflow-x: hidden;
}

.appear {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
a {
    color: #888;
}

main {
    background-color: rgb(22, 22, 22);
}

#name h1, #name p {
    width: 100%;
    text-align: center;
    font-size: 7vh;
    margin: 0;
}

#name p {
    font-size: 4vh;
}

#name {
    width: 100vw;
    margin: 40vh 0 0 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding-bottom: 0.5em;
}

.header {
    backdrop-filter: blur(10px);
}

.contact-popup {
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: #F5F5F5FF;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(100%);
}

.contact-button {
    display: flex;
    position: absolute;
    background-color: #888888;
    padding: 1em 2.5em 1em 1em;
    margin: -3.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    gap: 1rem;
    cursor: pointer;
    width: auto;
    top: 0;
    z-index: 10;
}

.contact-button > p {
    position: relative;
    z-index: 10;
    margin: 0;
}

.open {
    position: relative;
    right: 0;
    bottom: 0;
    background-color: #888888;
    padding: 1em 1em 1em 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    color: whitesmoke;
    transform-origin: bottom right;
    cursor: default;
    align-items: flex-end;
    flex-flow: column nowrap;
    z-index: 9;
}

.open p {
    margin: 0.5em 0;
}

.close {
    height: 1rem;
    width: 1rem;
    background-image: url("assets/close.png");
    background-size: contain;
    cursor: pointer;
}
.opened {
    transform: translateY(0);
}

.arrow {
    border-top: 3px solid whitesmoke;
    border-left: 3px solid whitesmoke;
    width: 0.8rem;
    height: 0.8rem;
    rotate: 45deg;
    animation: arrow-slide 1s infinite ease-in-out;
    position: absolute;
    right: 1rem;
    opacity: 1;
}

.arrow-open {
    rotate: 225deg;
    animation: none;
}


@keyframes arrow-slide {
    0% {
        margin-top: 0.5rem;
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        margin-top: 0;
        opacity: 0;
    }
}

.about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.about h1 {
    z-index: 3;
    font-size: 3rem;
    width: 100%;
    flex-shrink: 4;
    height: 32vh;
    margin: 0;
    border-bottom: 2px solid #888;
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 15%;
    display: flex;
    align-items: flex-end;
}

.about img {
    position: relative;
    z-index: 2;
    height: 80vh;
    width: auto;
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 18% 100%, 0 40%);
    transform: translateX(2px);
}

.image-wrapper {
    background-color: #888;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 40%);
    height: 80vh;
    transform: translateY(0) !important;
    transition: 1s;
}


.image-wrapper--show {
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 18% 100%, 0 40%) !important;
}

.about-left {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: 1s;
}

.about-left--show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.about p {
    position: relative;
    width: min(100%, 800px);
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 15%;
    margin: 0;
}

.contact-wrapper {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    height: 100%;
    position: relative;
    z-index: 4;
}

.animateAbout {

    clip-path: unset;
    animation: showAbout 2s linear;
}

@keyframes showAbout {
    0% {
        clip-path: polygon(0 0, 100% 0, 50% 0, 50% 0);
    }
    50% {
        clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.contact-article {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact::before {
    z-index: 6 !important;
}

.line-1, .line-3 {
    position: relative;
    height: 15rem;
    width: 2rem;
    margin-left: 2rem;
    border-bottom-left-radius: 2rem;
    border-left: 2px solid #888;
    border-bottom: 2px solid #888;
}

.line-1 p, .line-3 p {
    position: absolute;
    width: calc(50vw - 3em);
    bottom: -0.5rem;
    margin: 0 0 0 0.5rem;
    left: 100%;
    overflow: auto;
}

.line-2 {
    position: relative;
    height: 8rem;
    width: 2rem;
    border-bottom-right-radius: 2rem;
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;
    right: 0;
    margin: -2rem 2rem 0 0;
}

.line-2 p {
    position: absolute;
    width: calc(50vw - 3em);
    bottom: -0.5em;
    margin: 0 0.5rem 0 0;
    right: 100%;
    text-align: right;

}

.school, .contact, .skills {
    position: relative;
    z-index: 1;
    background-color: rgb(22, 22, 22);
    box-sizing: border-box;
}

.line-3 {
    height: 8rem;
    margin-top: -2rem;
}

.line-4 {
    height: 6rem;
    border-right: 2px solid #888;
    width: 2rem;
    margin: -2rem 2rem 0 0;
}

.right {
    position: absolute;
    top: 0;
    right: 10%;
    transform-origin: top;
    opacity: 0.3;
}

.right .line-1 {
    height: 10rem;
}

.left {
    position: absolute;
    top: 0;
    left: 10%;
    transform-origin: top;
    opacity: 0.15;
}

.left .line-1 {
    height: 6rem;
}

.school::before, .skills::before, .contact::before {
    position: absolute;
    content: '';
    display: block;
    height: 20vw;
    width: 100%;
    background: linear-gradient(to bottom, rgb(22, 22, 22) 60%, transparent);
    z-index: 2;
}

.school::after, .skills::after, .contact::after {
    position: relative;
    content: '';
    display: block;
    height: 20vw;
    width: 100%;
    background: linear-gradient(to top, rgb(22, 22, 22) 60%, transparent);
    margin-top: -8vw;
    z-index: 2;
}

.back-title {
    position: sticky;
    top: 40%;
    font-size: max(8vw, 3rem);
    color: rgba(25, 25, 25, 255);
    width: 100%;
    text-align: center;
    filter: blur(2px);
    margin: 0;
    z-index: 0;
    user-select: none;
}

.front-title {
    position: absolute;
    font-size: 4rem;
    color: #888;
    width: 100%;
    z-index: 6;
    font-weight: 300;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4vw;
}

.front-title::before {
    content: "";
    width: 100vw;
    border-bottom: 2px solid #88888833;
    position: absolute;
    top: 0.6em;
}

.front-title span {
    position: relative;
    background-color: #161616;
}

.photo {
    max-width: 500px;
}

img{
    width: 100%;
}

.description {
    max-width: 1000px;
    font-size: 1.2em;
    text-align: center;
    transition: 0.2s;
}

.card {
    width: 250px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 2em;
}

.cardDesc {
    position: absolute;
    width: calc(250px - 2em);
    opacity: 0;
    transition: 0.2s;
}

.initial {
    transition: 0.2s;
}

.school-wrapper, .contact-content-wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 1em;
    z-index: 3;
    margin: 5em auto 0 auto;
}


.contact-content-wrapper {
    padding: 0 10vw;
    gap: 0;
    margin: 0;
}

.fade-in {
    transform: translateY(100px);
    transition: 1s;
    opacity: 0;
}

.school-info, .experience-info {
    display: flex;
    align-items: center;
}

.school-info-image {
    height: 200px;
    width: 150px;
    background-image: url("assets/education.png");
    background-size: cover;
}

.experience-info-image {
    height: 200px;
    width: 150px;
    background-image: url("assets/user-experience.png");
    background-size: cover;
    background-position: right;
}

.experience-info-wrapper {
    text-align: right;
}

.title {
    writing-mode: vertical-rl;
    margin: 0.5em;
}

.advancement-info-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.advancements-title {
    margin: 0.5em;
    width: 90vw;
    text-align: center;
}

.advancements-info-image {
    height: 150px;
    width: 200px;
    background-image: url("assets/trophy.png");
    background-size: cover;
    background-position: top;
}

.skills-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    z-index: 3;
    gap: 1em;
    margin: 6em auto 2em auto;
    user-select: none;
}

.skills-wrapper h2 {
    text-align: center;
    letter-spacing: 0.3em;
    padding: 0.3em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.skills-wrapper h2::before, .skills-wrapper h2::after {
    content: "";
    background-color: #88888811;
    display: block;
    height: 0.5em;
    width: 100%;
}

.preferred h2 {
    background-color: #88888811;
    padding: 1em;
}

ul {
    padding-left: 1em;
}

li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

li::before {
    content: "";
    display: block;
    margin-right: 1em;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #88888811;
    float: left;
}

.skills-wrapper article.fade-in {
    transform: translateX(-100px) !important;
}

.skills-wrapper article.appear {
    transform: translateX(0) !important;
}

.left-section {
    display: flex;
    flex-direction: row;
}

.music-wrapper h3, .art-wrapper h3 {
    font-size: 3rem;
}


@keyframes hide {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}

.music-description, .art-description {
    position: absolute;
    height: 70vh;
    width: 80vw;
    background: url("./assets/img.png") center;
    background-size: cover;
    /*clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);*/
    margin-left: 10vw;
    transition: 1s;
}

.art-description {
    background: url("./assets/rysunek.png") center;
    background-size: cover;
    transform: translateX(100%);
}

.music-wrapper, .art-wrapper {
    height: 100%;
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16161699;
    color: #bdbdbd;
    backdrop-filter: blur(5px);
    transition: 0.2s;
}

.music-wrapper:hover, .art-wrapper:hover{
    background-color: transparent;
    color: transparent;
    backdrop-filter: blur(0);
}

.interests-button {
    position: absolute;
    right: 0;
    padding: 30vh 2vw;
    font-size: 10vh;
}

.interests-button:hover {
    color: #bdbdbd;
}

.interests {
    height: 70vh;
    width: 100%;
}

.dots {
    position: absolute;
    font-size: 10vh;
    margin-top: 60vh;
    width: 100%;
    text-align: center;
}

.dots span:nth-child(1) {
    color: #bdbdbd;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

.dots span:nth-child(2) {
    color: #383838;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

footer {
    position: relative;
    z-index: 1;
    background: rgb(19, 19, 19);
    margin-top: 4rem;
    color: #888;
    padding: 2em 2em 4em 2em;
}

footer a {
    color: #888;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 900px) {
    body {
        font-size: small;
    }
    .school-info {
        flex-flow: column wrap;
    }

    .experience-info {
        flex-direction: column-reverse;
    }

    .title {
        writing-mode: unset;
    }

    .experience-info-image, .school-info-image, .advancements-info-image {
        width: 200px;
        height: 130px;
        background-position: top;
    }

    .experience-info-wrapper, .school-info-wrapper {
        width: auto;
    }

    .front-title {
        font-size: 2rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 70vh;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 20% 100%, 0 84%);
        transform: translateX(0) translateY(-2px);
    }

    .image-wrapper {
        clip-path: polygon(0 0, 100% 0, 100% 0, 20% 0, 0 0);
        height: 70vh;
    }


    .image-wrapper--show {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 20% 100%, 0 84%) !important;
    }

    .about-left {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transition: 1s;
    }

    .about-left--show {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }


    .about div:first-child {
        width: 80%;
        margin-left: 20%;
        /*border-left: 2px solid #888;*/
        border-image: linear-gradient(#888 60%, transparent 80%) 30;
        border-width: 0;
        border-left-width: 2px;
        border-style: solid;
        padding-bottom: 3rem;
    }

    .about h1 {
        border-bottom: 0;
        font-size: 1.2rem;
        height: auto;
        padding-bottom: 0;
    }


}

@media screen and (max-width: 550px) {
    .front-title {
        gap: 2%;
    }

    .skills-wrapper {
        width: 80%;
    }

    .skills-wrapper article.fade-in {
        transform: translateX(0) !important;
    }
}

